@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');




h1{
    text-align: center;
}

nav{
    background-color: black;
    color: white;
}


nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-weight: bold;
}

nav > ul > li:hover > a {
    background-color: white;
    color:black;
    text-decoration: none;
}

.float_right{
    float: right;
}

footer{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f9fa
}



main{


}


.about_img{
    background-image: url(https://cdn.pixabay.com/photo/2015/06/24/15/45/code-820275_640.jpg);
    height: 500px;
    background-size: cover;
}


.login_section{
    width: 400px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.login_section > input {
    height: 38px;
    width: 350px;
    margin: 10px;

}

.login_section > button {
    height: 40px;
    width: 360px;
    background-color: black;
    color: white;
    margin-top: 5px;
    cursor:pointer;
    
}

.modal {
    display: none;
    /* none 이었지만 block으로 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


iframe{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

